name: Test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: 3.13.9
          channels: conda-forge

      - name: Cache Conda env
        uses: actions/cache@v5
        with:
            path: ${{ env.CONDA }}/envs
            key:
                conda-${{ runner.os }}--${{ runner.arch }}--${{
                steps.get-date.outputs.today }}-${{
                hashFiles('**/poetry.lock') }}-${{ env.CACHE_NUMBER
                }}
        env:
            # Increase this value to reset cache if **/poetry.lock has not changed
            CACHE_NUMBER: 0
        id: cache

      - name: Create conda environment and install dependencies
        run: |
          make env-create
        if: steps.cache.outputs.cache-hit != 'true'

      - name: Check linting
        run: |
          make lint

      - name: Run tests
        run: |
          make test
